{% extends 'base.html.twig' %}

{% block main %}
    <div>
        <h3 style="text-align: center; margin-top: 20px;">Home page</h3>
        <p style="text-align: center; margin-top: 20px;">Go to contact page to view all persons in the database. Go to the new page to add a new person</p>
    </div>
{% endblock %}
