{% extends 'base.html.twig' %}

{% block title %}Person list{% endblock %}

{% block main %}

    {% if persons %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>email</th>
                    <th>mobile number</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.name }}</td>
                        <td>{{ person.email }}</td>
                        <td>{{ person.mobileNumber }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No persons in the database</p>
    {% endif %}

{% endblock %}
